
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/bg-dark.jpg);
}

.header{
    width: 100vw;
    background: linear-gradient(180deg, #252525 25%, rgba(255,255,255,0) 100%);
    padding: 20px;
    .top-bar{
        width: 1440px;
        margin: auto;
        display: flex;
        justify-content: center;
        .top-bar__mail{
            width: 50%;
        }
        .top-bar__phone{
            width: 50%;
        }

    }
}

.menu{
    .manu__iterm-list{
        .menu__item{
            list-style-type: none;
        }
    }
}