
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-image: url(../img/bg-dark.jpg);
    // background: $dark;
}
.btn{
    background: $disable-primary;
    border-radius: 20px;
    padding: 10px;
    max-width: 50%;
    box-shadow: 0px 0px 24px -10px rgba(255, 242, 207, 1) ;
    transition: 400ms;
}

.header{
    width: 100%;
    background: linear-gradient(180deg, #252525 25%, rgba(255,255,255,0) 100%);
    padding: 20px 0 35px 0;
    .top-bar{
        max-width: 1440px;
        margin: auto;
        display: flex;
        .top-bar__mail{
            width: 50%;
        }
        .top-bar__phone{
            width: 50%;
        }

    }
}

.menu{
    position: fixed;
    top: 0;
    z-index: 10;
    margin-left: 0%;
    padding-left: 25px;
    width: 15vw;  
    height: 100vh;
    background: linear-gradient(90deg, #252525 35%, rgba(255,255,255,0) 100%); 
    transition: 600ms;
    .menu__item-list{
        list-style-type: none;
        margin-top: 50%;
        .menu__item{
            list-style-type: none;
        }
    }
}
.menu:hover{
    background: $dark;
    width: 12.5vw;
    box-shadow: -4px 0 12px 6px rgba(255, 242, 207, 1);
    transition: 600ms;
    .menu__item-list{
        // margin-top: 50%;
    }
}

// HAMBURGER
.logo-xs{
    display: none;
    position: relative;
    top: -45px;
    left: 7.5%;
    z-index: 20;
}

.menu-hamburger{
    display: none;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    z-index: 21;
    -webkit-user-select: none;
    user-select: none;

    .menu-hamburger__input{
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: 0px;
        left: -5px;
        cursor: pointer;
        
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        
        -webkit-touch-callout: none;
    }
    span{
        display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      
      background: $gold;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 1s ease;
    }
    span:first-child{
        transform-origin: 0% 0%;
    }
    .span-3{
        transform-origin: 0% 100%;
    }
    input:checked ~ span{
        background: $primary;
        transform: rotate(45deg) translate(-2px, -1px);
    }
    
    input:checked ~ .span-2{
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    input:checked ~ .span-3{
        transform: rotate(-45deg) translate(0, -1px);
    }

    .menu-hamburger__item-list{
        position: absolute;
        width:300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 100px;
        background: $dark;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        
    }
        input:checked ~ .menu-hamburger__item-list{
            transform: none;
        }
}

// END HAMBURGER

.main__headline--left{
    @include main__headline(0, 8px, $primary)
}

.main__headline--right{
    @include main__headline(60%, -8px, $primary)
}
.main__ofert{
  
    .main__headline--2line{
      height:160px;
    }
  }
.main__section{
    margin: auto;
    padding-left: 10%;
    padding-right: 5%;

    max-width: 1240px;
}

// /]/]//]/]/]/]/]OFERT CARDS/]/]/]/]/]/]/]/]/]/]/]/

.ofert__box{
    display: flex;
    margin-left: 10%;
    margin-right: 5%;
   
}

.ofert__card{
    width: 27%;
    margin-left: 3%;
    margin-right: 3%; 
    background: $dark;
    border-radius: 5%;
    box-shadow: -4px 4px 24px -6px rgba(255, 242, 207, 1) ;
    transition: 400ms;
}
.ofert__card:hover{
    transform: scale(1.1,1.1);
    transition: 400ms;
}

.card__txt{
    padding: 10px;
}

.card__img{
    border-radius: 5%;
    width: 100%;
}
.card__btn{
    margin: 5% 5% 5% 20%;
}
.card__btn:hover{
    background: $primary;
    transition: 400ms;
    box-shadow: 0px 0px 24px -5px rgba(255, 242, 207, 1) ;
    cursor: pointer;
}

.main__maps{
    margin: auto;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    .maps__headline{
        font-size: 2rem;
    }
    .maps__item{
        margin: 30px 0;
    }
}
.maps__box{
    border-radius: 5%;
    box-shadow: -8px 8px 24px -15px rgba(255, 242, 207, 1); 
    height: 25rem;
  }
  
.btn-go-up{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: $disable-primary;
    color: $dark;
    box-shadow: -8px 8px 24px -15px rgba(255, 242, 207, 1) ;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    line-height: 80px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    z-index: 11;
    transition: 400ms;
}
.btn-go-up:hover{background: $primary; transition: 400ms; transform: rotate(360deg);}
.btn-go-up__link{
    @include link($dark);
}

.footer__container{
    background:  linear-gradient(0deg, #252525 25%, rgba(255,255,255,0) 100%);
    height: 7rem;
}

////////////////////////////////// RWD \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\



// XLL
@media(max-width:1600px){
    .main__section{
        max-width: 1200px;
        padding-left:15% ;
    }
}

// XL
@media(max-width:1200px){
    .main__section{
        max-width: 750px;
        padding-left:10% ;
    }
}

// X
@media(max-width:1000px){
    .main__section{
        max-width: 625px;
        padding-left:20% ;
    }
}


// MD
@media(max-width:795px) {
    .logo{
        display: none;
    }
    .logo-xs{
        display: block;
    }
    .header{
        background: $dark;
    }
    nav{
        position: sticky;
        top: 0;
        z-index: 20;
        background:linear-gradient(180deg, #252525 25%, rgba(255,255,255,0) 100%);
        padding: 20px;
    }
    .menu{
        display: none;
    }
    .menu-hamburger{
        display: block;
    }
    
    .main__headline{
        background: $gold;
        margin: 80px 0;
        width: 100%;
        padding: 0;
        border-radius: 0;
        height: 70px;
    }    
    .main__maps{
        justify-content: none;
        display: block;

    }
    .maps__box{
        height: 15rem;
        width: 100%;
        border-radius: 0%;
    }

    .main__section{
        max-width: 750px;
        // padding-left: 5%;
    }


    .ofert__box{
        flex-wrap: wrap;
    }

    .ofert__card:hover{
        transform: none;
    }
    .ofert__card{
        width: 43%;
        margin-top: 5%;

    }

}

// // S
@media(max-width:576px){
    
    .main__section{
        max-width: 550px;
    }
    .btn-go-up{
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 15px;
        right: 20px;
    }
    .main__headline{
        height: 55px;
    } 


    .ofert__card{
        width: 94%;
    }
}


// // XS
@media(max-width:361px){
    .main__section{
        max-width: 290px;
    }

}