body{
  font-family: 'Open Sans', sans-serif;  
  color: $white;
}
h1{
  text-align: center;
  margin: auto;
  font-size: 70px;
  max-width: 500px;
  @include gold
}
.top-bar{
  text-align: center;
  .top-bar__phone-link{
    @include link
  }
}

  .menu{
    .menu__item-list{
      .menu__item{
        .item__link{
          font-weight: bold;
          line-height: 50px;
          text-transform: uppercase;
          @include link
        }

      }
    }
  }