body{
  font-family: 'Open Sans', sans-serif;  
  color: $primary;
  text-align: justify;
}
.logo{
  text-align: center;
  margin: auto;
  font-family: comic;
  font-size: 70px;
  max-width: 1200px;
  @include gold
}
.logo-xs{
  text-align: center;
  margin: auto;
  font-size: 40px;
  max-width: 500px;
  @include gold;
  font-family: comic;
}
.item__link{
  @include link($primary)
}
.top-bar{
  text-align: center;
  .top-bar__phone-link{
    @include link($primary)
  }
}

.menu{
  .menu__item-list{
    .menu__item{
      .item__link{
        font-weight: bold;
        line-height: 50px;
        text-transform: uppercase;
        @include link($disable-primary);
        transition: 400ms;
      }
    }
  }
}
.menu{
  .menu__item-list{
    .menu__item{
      .item__link:hover{
        text-decoration: underline;
        transition: 400ms;
        scale: 1.2;
        letter-spacing: 2px;
        text-shadow: 8px 3px 4px rgba(255, 242, 207, 0.5);
        color: $primary;
      }
    }
  }
}


.main__headline--left{
@include main__headline--thypography(right, $dark)
}
.main__headline--right{
@include main__headline--thypography(left, $dark)
}

.card__headline{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.card__txt{
  text-align: justify;
}

.card__btn{
  font-size: 20px;
  text-align: center;
  color: $dark;
}



.footer__container{
  text-align: center;
  line-height: 11rem;
}


// RWD



// MD
@media(max-width:795px){
  body{
    font-size: 16px;
  }

  .top-bar{
    font-size: 18px;
  }

  .main__headline{
    font-size: 45px;
    line-height: 60px;
    text-align: center;
  }
  .card__headline{
    font-size: 20px;
  }
  .card__btn{
    font-size: 16px;

  }
}


// // S
@media(max-width:576px){
  body{
    font-size: 14px;
  }

  .top-bar{
    font-size: 16px;
  }

  .main__headline{
    font-size: 40px;
    line-height: 55px;
    text-align: center;
  }

  .footer__container{
font-size: 12px;
}

}


// // XS
@media(max-width:361px){
  body{
    font-size: 12px;
  }

  .top-bar{
    font-size: 11px;
  }

  .main__headline{
    font-size: 30px;
    line-height: 50px;
    text-align: center;
  }
  .footer__container{
    font-size: 10px;
    }

}