// COLORS

$primary: #dfd0af;
$disable-primary:rgba(223, 208, 175, 0.521);
$dark: #272727;
$secoundary: #a01414;

// GOLD GRADIENT TEXT

// $gold: linear-gradient(45deg, #8f6B29, #FDE08D, #DF9F28);
// $gold: linear-gradient(0deg, rgba(162,97,57,1) 25%, rgba(213,148,108,1) 52%, rgba(162,97,57,1) 100%);
$goldv: linear-gradient(0deg, rgba(162,97,57,1) 25%, rgba(230,165,125,1) 52%, rgba(162,97,57,1) 100%);
$gold: linear-gradient(90deg, rgba(162,97,57,1) 25%, rgba(230,165,125,1) 52%, rgba(162,97,57,1) 100%);

@mixin link($color-l){
    color: $color-l;
    text-decoration: none;
}

// Slider
@mixin slider($url){
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),$url;
    background-size: cover;
    background-position: center center;
}


// Main section

@mixin main__headline($block-side, $shadow, $bg-color){
    margin: 80px 0;
    background: $bg-color;
    box-shadow:  $shadow 8px 24px -6px rgba(255, 242, 207, 1);
    border-radius: 10px;
    margin-left: $block-side;
    width: 40vw;
    height: 80px;
    padding: 0 50px;
}
@mixin main__headline--thypography($txt-side, $color){
    text-align: $txt-side;
    font-family: comic;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 5px;
    color: $color;
    line-height: 80px;
}




@mixin gold{
    // background: $gold;
    background: $goldv;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}